In [1]:
for ele in [10,20,30]:
    print(ele)

10
20
30

In [2]:
ename = "Rahul Gandhi"
for ch in ename:
    print(ch)

R
a
h
u
l

G
a
n
d
h
i

In [5]:
enames= ['Rahul','sonai','Priyanka','Modi','Amith']
for ename in enames:
    print(ename)

Rahul
sonai
Priyanka
Modi
Amith

In [6]:
#print 1 ..to 10
#print 1.. to 100
#print 5.. to 50
#print 100...to 51

In [7]:
for x in range(1,11,1):
    print(x)

1
2
3
4
5
6
7
8
9
10

In [8]:
for x in range(100,50,-1):
    print(x)

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51

In [9]:
for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [10]:
for i in range(1,11):
    print(5,"*",i,"=",5*i)

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [11]:
#print first 10 even numbers
for x in range(0,19,2):
    print(x)

0
2
4
6
8
10
12
14
16
18

In [13]:
#print first 10 even numbers
for x in range(0,19,2):
    print(x, end="\t")

0	2	4	6	8	10	12	14	16	18

In [14]:
emp = {
    'id':101,
    'name':'Rahul',
    'sal':45000.45
}
print(type(emp))

<class 'dict'>

In [15]:
emp = {
    'id':101,
    'name':'Rahul',
    'sal':45000.45
}

for key in emp:
    print(key)

id
name
sal

In [16]:
emp = {
    'id':101,
    'name':'Rahul',
    'sal':45000.45
}
for key,value in emp.items():
    print(key,":",value)

id : 101
name : Rahul
sal : 45000.45