In [1]:
print('a' in "Rahul")

True

In [3]:
ename = "Rahul"
enames= ["Rahul","Sonia","Priyanka","Modi"]
t = (10,20,30,40)
s = {101,102,103,104}
emp= { 'id':101, 'name':'Rahul Gandhi'}

print('h' in ename)
print('z' in ename)

True
False

In [4]:
enames= ["Rahul","Sonia","Priyanka","Modi"]
t = (10,20,30,40)
s = {101,102,103,104}
emp= { 'id':101, 'name':'Rahul Gandhi'}

print("Sonia" not in enames)

True

In [7]:
eids = {101,102,103,104}

print(100 in eids)
print(100 not in eids)

False
True

In [8]:
emp = {'id':101, 'name':'rahul','sal':45000.00}
print(type(emp))

<class 'dict'>

In [11]:
emp = {'id':101, 'name':'rahul','sal':45000.00}
print(type(emp))
print('id' in emp)
print('rahul' in emp)
print('rajni' in emp)

<class 'dict'>
True
False
False

In [12]:
a= 10
b= 20
c = 10
print(id(a))
print(id(b))
print(id(c))

140730330860248
140730330860568
140730330860248

In [13]:
a= 10
b= 20
c= 10
print( a is b)  # False
print( a is c)  # True

False
True

In [14]:
r  = range(100,1000)
print(500 in r)

True

In [15]:
r  = range(100,1000)
print(500 in r)
print(1000 in r)

True
False