In [1]:
d1 = {}
print(d1)

{}

In [2]:
d1 = {}
print(type(d1))

<class 'dict'>

In [4]:
#what is dict object? group of key:values are one entity.
# or
# group of properties(property name and value)

emp = {
    'eid':101,
    'ename':'Rahul',
    'esal':45000.45,
    'avail':True
}
print(emp)

{'eid': 101, 'ename': 'Rahul', 'esal': 45000.45, 'avail': True}

In [5]:
# list and tuple - duplicate elements are allowed
# set - duplicate elments are not allowed
# dict - duplicate key are not allowed
emp = {
     'eid':101,
     'eid':102,
     'eid':103,
     'eid':104
}
print(emp)

{'eid': 104}

In [6]:
emp = {
    'eid':101,
    'ename':'Rahul',
    'esal':45000.45,
    'avail':True
}
print(emp[0])

KeyError: 0

In [7]:
emp = {
    'eid':101,
    'ename':'Rahul',
    'esal':45000.45,
    'avail':True
}
print(emp['eid'])

101

In [8]:
emp = {
    'eid':101,
    'ename':'Rahul',
    'esal':45000.45,
    'avail':True
}
print(emp['eid'])
print(emp['ename'])
print(emp['esal'])
print(emp['avail'])

101
Rahul
45000.45
True

In [10]:
emp = {
    'eid':101,
    'ename':'Rahul',
    'esal':45000.45,
    'avail':True
}
print(emp.get('eid'))
print(emp.get('ename'))
print(emp.get('esal'))
print(emp.get('avail'))

101
Rahul
45000.45
True

In [11]:
emp = {
    'eid':101,
    'ename':'Rahul',
    'esal':45000.45,
    'avail':True
}

for key in emp.keys():
    print(key)

eid
ename
esal
avail

In [12]:
emp = {
    'eid':101,
    'ename':'Rahul',
    'esal':45000.45,
    'avail':True
}

for key in emp.values():
    print(key)

101
Rahul
45000.45
True

In [13]:
emp = {
    'eid':101,
    'ename':'Rahul',
    'esal':45000.45,
    'avail':True
}

for key,value in emp.items():
    print(key,value)

eid 101
ename Rahul
esal 45000.45
avail True