In [1]:
t1 = ()
t2 = 10,
t3 =  10,20,30,40
t4 =  (10,20,30,40)
t5= tuple(range(10))

print(t1)
print(t2)
print(t3)
print(t4)
print(t5)

()
(10,)
(10, 20, 30, 40)
(10, 20, 30, 40)
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [2]:
t1 = ()
t2 = 10,
t3 =  10,20,30,40
t4 =  (10,20,30,40)
t5= tuple(range(10))

print(type(t1))
print(type(t2))
print(type(t3))
print(type(t4))
print(type(t5))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [3]:
enames=('Rahul','Sonia','Priyanka','Modi','Amith','Rajni')
#index   0         1         2         3    4       5
#access the tuple elements - indexing 
print(enames[0])

Rahul

In [4]:
enames=('Rahul','Sonia','Priyanka','Modi','Amith','Rajni')
#index   0         1         2         3    4       5
# iterate tuple object using for and while loop
# for loop
for ename in enames:
    print(ename)

Rahul
Sonia
Priyanka
Modi
Amith
Rajni

In [6]:
enames=('Rahul','Sonia','Priyanka','Modi','Amith','Rajni')
#index   0         1         2         3    4       5
# iterate tuple object using for and while loop
# while loop

i=0
while i<=len(enames)-1:
    print(enames[i])
    i=i+1

Rahul
Sonia
Priyanka
Modi
Amith
Rajni

In [7]:
months=("Jan","Feb","March","April","May")
print(months)

('Jan', 'Feb', 'March', 'April', 'May')

In [8]:
months=("Jan","Feb","March","April","May")
print(months)
months.append("June")

('Jan', 'Feb', 'March', 'April', 'May')

AttributeError: 'tuple' object has no attribute 'append'

In [9]:
enames=['Rahul','Sonia','Priyanka','Modi','Amith','Rajni']
#index   0         1         2         3    4       5
enames.sort()
print(enames)

['Amith', 'Modi', 'Priyanka', 'Rahul', 'Rajni', 'Sonia']

In [10]:
enames=('Rahul','Sonia','Priyanka','Modi','Amith','Rajni')
#index   0         1         2         3    4       5
enames.sort()
print(enames)

AttributeError: 'tuple' object has no attribute 'sort'

In [12]:
enames=('Rahul','Sonia','Priyanka','Modi','Amith','Rajni')
#index   0         1         2         3    4       5
new_names=sorted(enames)
print(new_names)
print(type(new_names))

enames=tuple(new_names)
print(enames)
print(type(enames))

['Amith', 'Modi', 'Priyanka', 'Rahul', 'Rajni', 'Sonia']
<class 'list'>
('Amith', 'Modi', 'Priyanka', 'Rahul', 'Rajni', 'Sonia')
<class 'tuple'>

In [14]:
enames=('Rahul','Sonia','Priyanka','Modi','Amith','Rajni')
#index   0         1         2         3    4       5

print(enames.index('Sonia'))
print(enames.index('Sonia Gandhi'))

1

ValueError: tuple.index(x): x not in tuple

In [16]:
enames=('Rahul','Sonia','Sonia','Priyanka','Modi','Amith','Rajni')
#index   0         1         2         3    4       5

print(enames.count('Sonia'))

2

In [17]:
t1  = (10,20,30)
t2 =  t1.copy()
print(t2)

AttributeError: 'tuple' object has no attribute 'copy'