In [1]:
a=15
print(a)

15

In [2]:
a=15
print(int(a))     
print(bin(a))
print(oct(a))
print(hex(a))

15
0b1111
0o17
0xf

In [3]:
a=15
b=0b1111
c=0o17
d=0xf
print(a)
print(b)
print(c)
print(d)

15
15
15
15

In [4]:
esal = 45000.45
print(type(esal))

<class 'float'>

In [5]:
esal = 45000.45
print(type(esal))

esal = int(esal)
print(esal)
print(type(esal))

<class 'float'>
45000
<class 'int'>

In [7]:
esal = "ten"
print(type(esal))
esal = int(esal)

<class 'str'>

ValueError: invalid literal for int() with base 10: 'ten'

In [8]:
esal = "45000.00"
print(type(esal))   # str
esal = int(esal)   
print(esal)        #45000
print(type(esal))  # int

<class 'str'>

ValueError: invalid literal for int() with base 10: '45000.00'

In [9]:
esal = "45000"
print(type(esal))   # str
esal = int(esal)   
print(esal)        #45000
print(type(esal))  # int

<class 'str'>
45000
<class 'int'>

In [10]:
a=input("Enter First Number:)
print(a)

SyntaxError: unterminated string literal (detected at line 1) (179370794.py, line 1)

In [11]:
a=input("Enter First Number:")
print(a)

Enter First Number: 10

10

In [12]:
a=input("Enter First Number:")
print(a)
print(type(a))

Enter First Number: 100

100
<class 'str'>

In [15]:
a= int(input("Enter First Number"))
b= int(input("Enter Second Number:"))

print(a+b)

Enter First Number 100
Enter Second Number: 25.25

ValueError: invalid literal for int() with base 10: '25.25'

In [16]:
a= int(input("Enter First Number"))
b= float(input("Enter Second Number:"))
print(type(a))
print(type(b))
print(a+b)

Enter First Number 10
Enter Second Number: 20.20

ValueError: invalid literal for int() with base 10: '20.20'

In [17]:
a= int(input("Enter First Number"))
b= float(input("Enter Second Number:"))
print(type(a))
print(type(b))
print(a+b)

Enter First Number 10
Enter Second Number: 10.25

<class 'int'>
<class 'float'>
20.25

In [19]:
a = input("Enter First Number:")
b = input("Enter Second Number:")
print(int(a)+int(b))

Enter First Number: 10
Enter Second Number: 20

30

In [21]:
print(int(input("Enter FN:"))+int(input("Enter SN:")))

Enter FN: 100
Enter SN: 200

300

In [22]:
print("Hello")
print("Good Morning")

Hello
Good Morning

In [24]:
print("Hello",end="")
print("Good Morning")

HelloGood Morning

In [25]:
a=10
b=20
c=30
print(a)
print(b)
print(c)

10
20
30

In [29]:
a=10
b=20
c=30
print(a, end=",")
print(b, end=",")
print(c, end=",")
print()
print("Ends with :")
print(a, end=":")
print(b, end=":")
print(c, end=":")
print()
print("Ends with tab space")
print(a, end="\t")
print(b, end="\t")
print(c, end="\t")

10,20,30,
Ends with :
10:20:30:
Ends with tab space
10	20	30

In [33]:
a=10   # int
b=10.001 #float
c = 0.000 #float
d = 0.00001 #float
e = "Rahul"  #str
f = 10+20j   #complex
g = 0+0j     #complex
print(bool(a))
print(bool(b))
print(bool(c))
print(bool(d))
print(bool(e))
print(bool(f))
print(bool(g))

True
True
False
True
True
True
False